!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 New User Registered
    %p
      There is a new user on Precitrack with email: .
      Please visit http://precitrack.com to create approve the new subscription.
