%footer
  .colophon
    .container
      .row
        .span8
          %p
          %p.pull-left &copy; 2015 PreciTrak, LLC. All Rights Reserved
        .span4
          %ul.social.pull-right
            %li.facebook
              %a{:href => ""} Facebook
            %li.twitter
              %a{:href => ""} Twitter
            %li.linkedin
              %a{:href => ""} LinkedIn
  = javascript_include_tag 'application'
  = yield :javascript_footer
